.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
}

.hero__back--design1 {
  position: absolute;
  left: -230px;
  top: 40px;
}

.hero__back--design2 {
  position: absolute;
  right: -60px;
  top: 175px;
}

.hero__img {
  position: relative;
  top: -100px;
  width: 47%;
  height: auto;
}

.hero__wrapper {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.hero__title {
  font-size: var(--size-4xl);
  line-height: 1.1;
}

.hero__line {
  text-decoration: underline;
  text-decoration-color: var(--clr-green);
}

.hero__description {
  font-size: var(--size-lg);
  font-weight: 500;
}

.hero__cta a {
  position: relative;
  margin-top: 0.7rem;
  text-transform: uppercase;
  font-size: var(--size-xl);
  padding-bottom: 0.7rem;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

.hero__cta a:hover {
  color: var(--clr-green);
}

.hero__cta a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5px;
  background-color: var(--clr-green);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .hero__img {
    position: relative;
    top: -100px;
    width: 52%;
    height: auto;
  }

  .hero__wrapper {
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.3rem;
  }

  .hero__title {
    font-size: var(--size-5xl);
    line-height: 1.1;
    max-width: 15ch;
  }

  .hero__line {
    text-decoration: underline;
    text-decoration-color: var(--clr-green);
  }

  .hero__description {
    font-size: var(--size-xl);
    font-weight: 500;
    max-width: 40ch;
  }

  .hero__cta a {
    position: relative;
    margin-top: 0.7rem;
    text-transform: uppercase;
    font-size: var(--size-2xl);
    padding-bottom: 0.7rem;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .hero__cta a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    background-color: var(--clr-green);
  }
}

/* md */
@media (min-width: 768px) {
  .hero__back--design1 {
    position: absolute;
    left: -120px;
    top: 30px;
  }

  .hero__back--design2 {
    position: absolute;
    right: 30%;
    top: 57%;
    z-index: 999;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 4rem;
    z-index: 99;
  }

  .hero__title {
    font-size: var(--size-7-proxl);
    line-height: 1.1;
    max-width: 60ch;
  }

  .hero__description {
    font-size: var(--size-lg);
    font-weight: 500;
    max-width: 35ch;
  }

  .hero__img {
    position: relative;
    top: -200px;
    transform: scale(1.3);
    filter: brightness(1);
  }

  .hero__back--design1 {
    position: absolute;
    left: 0px;
    top: 50px;
  }

  .hero__back--design2 {
    position: absolute;
    right: 31%;
    top: 57%;
    z-index: 999;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
